@use "../abstract/mixins" as mix;

.background-shapes {
	@include mix.responsive(xs) {
		display: none;
	}
	.box-1 {
		position: absolute;
		top: 20%;
		left: 10%;
		width: 15px;
		height: 15px;
		background-color: transparent;
		border: 3px solid #3f43fd;
		border-radius: 0.35rem;
		z-index: -1;
		transform: rotate(360deg);
		animation: box-shape linear 5s infinite;
	}
	.box-2 {
		position: absolute;
		top: 42%;
		left: 35%;
		width: 15px;
		height: 15px;
		background-color: transparent;
		border: 3px solid #3f43fd;
		border-radius: 0.35rem;
		z-index: -1;
		transform: rotate(360deg);
		animation: box-shape linear 5s infinite;
	}
	.box-3 {
		position: absolute;
		top: 90%;
		left: 50%;
		width: 15px;
		height: 15px;
		background-color: transparent;
		border: 3px solid #3f43fd;
		border-radius: 0.35rem;
		z-index: -1;
		transform: rotate(360deg);
		animation: box-shape linear 5s infinite;
	}
	.dot-1 {
		position: absolute;
		top: 60%;
		left: 15%;
		width: 8px;
		height: 8px;
		background-color: #0c0c0c;
		border-radius: 50%;
		z-index: -1;
		transform: rotate(360deg);
		animation: box-shape linear 5s infinite;
	}
	.dot-2 {
		position: absolute;
		top: 25%;
		left: 30%;
		width: 8px;
		height: 8px;
		background-color: #0d0d0e;
		border-radius: 50%;
		z-index: -1;
		transform: rotate(360deg);
		animation: box-shape linear 5s infinite;
	}
	.dot-3 {
		position: absolute;
		top: 90%;
		left: 80%;
		width: 8px;
		height: 8px;
		background-color: #080808;
		border-radius: 50%;
		z-index: -1;
		transform: rotate(360deg);
		animation: box-shape linear 5s infinite;
	}
	.dot-4 {
		position: absolute;
		top: 80%;
		right: 60%;
		width: 8px;
		height: 8px;
		background-color: #080808;
		border-radius: 50%;
		z-index: -1;
		transform: rotate(360deg);
		animation: box-shape linear 5s infinite;
	}
	.heart-1 {
		font-size: 1.5rem;
		position: absolute;
		top: 15%;
		left: 50%;
		color: #f783da;
		z-index: -1;
		animation: box-shape linear 5s infinite;
	}
	.heart-2 {
		font-size: 1.5rem;
		position: absolute;
		top: 84%;
		left: 3%;
		color: #f783da;
		z-index: -1;
		animation: box-shape linear 5s infinite;
	}
	.heart-3 {
		font-size: 1.5rem;
		position: absolute;
		top: 54%;
		left: 81%;
		color: #f783da;
		z-index: -1;
		animation: box-shape linear 5s infinite;
	}
	.circle-1 {
		position: absolute;
		top: 20%;
		left: 85%;
		width: 15px;
		height: 15px;
		border: 3px solid chartreuse;
		border-radius: 50%;
		z-index: -1;
		transform: rotate(360deg);
		animation: box-shape linear 5s infinite;
	}
	.circle-2 {
		position: absolute;
		top: 89%;
		left: 25%;
		width: 15px;
		height: 15px;
		border: 3px solid chartreuse;
		border-radius: 50%;
		z-index: -1;
		transform: rotate(360deg);
		animation: box-shape linear 5s infinite;
	}
}
