/* ALL FONTS FAMILY */
$font-primary: "Belanosima", sans-serif;

/* TITLE(DEMON-SLAYER) FONTS FAMILY */
$font-secondary: "Ysabeau SC", sans-serif;

/* ALL COLORS */
$theme-colors: (
	"primary": rgb(25, 0, 255),
	"primary-hover": rgb(207, 250, 15),
	"dark": rgb(19, 18, 18),
);
